/*importierte Schriftart*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Tangerine&display=swap');

/*Grundlegendes Styling wenn nichts anderes definiert wird*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

/*Styling der Titel*/
h1{
    font-size: 6rem;
    font-family: 'Amatic SC', cursive;
}

h2{
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
}


/*Styling der Navigation*/
.navigation{
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-liste{
    display: flex;
    justify-content: center;
    background-color: rgb(39, 34, 34);
    height: 4rem;
}


.navigation-liste li{
    list-style: none;
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

.navigation-liste a{
    text-decoration: none;
    text-align: right;
    color: white;
    font-family: 'Amatic SC', cursive;
    padding: 0 1rem 0 1rem
}

.navigation-liste a:hover{
    color: rgb(255, 73, 173);
}

#hier{
    color: rgb(255, 154, 210)
}

.anmeldeformular-inhalt h2{
    display: flex;
    justify-content: center;
    margin: 15% 0 0.5rem 0;
}

.anmeldeformular-inhalt p{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 2rem;
}

.anmeldeformular{
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    margin: 0 40% 15% 40%;
    padding: 3rem;
    border-radius: 25px;
}

.eingabefelder input{
    margin-bottom: 10px;
    width: 700px;
}


input{
    border: 2px solid rgb(39, 34, 34);
    border-radius: 5px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


#pink-roses{
    margin-left: 50px;
}

#salted-peanuts{
    margin-left: 22px;
}

#crispy-chocolate{
    margin-left: 6px;
}

#coconut-milk{
    margin-left: 31px;
}


#anzahl{
    border:2px solid rgb(39, 34, 34);
    height: 22px;
    width: 44px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#anrede{
    border:2px solid rgb(39, 34, 34);
    border-radius: 5px;
    margin-left: 10px;
}

#name, #vorname, #mail{
    height: 22px;
    width: 300px;
}

/*Styling der Fehlermeldung der Javascript-Validierung*/
.error{
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
}

button{
    color: white;
    background-color:rgb(39, 34, 34);
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
    width: 100%;
    height: 3rem;
}

button:hover{
    background-color: #555;
}

/*Styling des Footers*/
.footerinhalt{
    color: white;
    background-color: rgb(39, 34, 34);
    height: 180px;
    display: flex;
    flex-direction: row;
    padding-right: 0;
}

.footer-adresse{
    padding: 2.4rem 0 0 4rem;
}

.footerinhalt li{
    list-style: none;
}

.pfeil-nach-oben{
    padding-left: 80%;
}

.pfeil-nach-oben-bild{
    padding-top: 4.8rem;
    width: 35px;
    height: 35px;
}

/*Responsive Design mit media queries*/
@media screen and (max-width: 1680px){

    .pfeil-nach-oben{
        padding-left: 75%;
    }

}

@media screen and (max-width: 1358px){

    .pfeil-nach-oben{
        padding-left: 70%;
    }
}

@media screen and (max-width: 1070px){

    .pfeil-nach-oben{
        padding-left: 65%;
    }
}

@media screen and (max-width: 905px){

    .pfeil-nach-oben{
        padding-left: 60%;
    }

}

@media screen and (max-width: 760px){
    
    .pfeil-nach-oben{
        padding-left: 55%;
    }


    h1 {
        font-size: 4rem;
        font-family: 'Amatic SC', cursive;
    }
    
    header p{
        font-size: 3rem;
        font-family: 'Amatic SC', cursive;
        padding-top: 80px;
    }

    h2{
        font-size: 3rem;
        font-family: 'Amatic SC', cursive;
        font-weight: lighter;
    }
}

@media screen and (max-width: 666px){

    .pfeil-nach-oben{
        padding-left: 47%;
    }
}

@media screen and (max-width: 539px){

    .pfeil-nach-oben{
        padding-left: 35%;
    }

}

@media screen and (max-width: 450px){

    .pfeil-nach-oben{
        padding-left: 25%;
    }

    .navigation-liste a{
        font-size: 18px;
    }


    h1 {
        font-size: 3.5rem;
        font-family: 'Amatic SC', cursive;
    }
    

    h2{
        font-size: 2.5rem;
        font-family: 'Amatic SC', cursive;
        font-weight: lighter;
    }

    .formular{
        margin-left: 15%;
    }
    
}

@media screen and (max-width: 380px){
    .footer-adresse{
        padding: 2.4rem 0 0 2rem;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Amatic SC', cursive;
    }
    
    header p{
        font-size: 2.5rem;
        font-family: 'Amatic SC', cursive;
    }

    h2{
        font-size: 2rem;
        font-family: 'Amatic SC', cursive;
        font-weight: lighter;
    }

    .navigation-liste a{
        padding: 0 0.5rem 0 0.5rem;
    }

}

@media screen and (max-width: 340px){
    .formular{
        margin-left: 25px;
    }
}

@media screen and (max-width: 330px){
    .navigation-liste a{
        font-size: 15px;
    }
}

@media screen and (max-width: 320px){

    .pfeil-nach-oben{
        padding-left: 12%;
    }

    input{
        width: 180px;
    }
}

@media screen and (max-width: 319px){

    h1 {
        font-size: 2.7rem;
        font-family: 'Amatic SC', cursive;
    }
    
    header p{
        font-size: 2rem;
        font-family: 'Amatic SC', cursive;
    }

    h2{
        font-size: 1.7rem;
        font-family: 'Amatic SC', cursive;
        font-weight: lighter;
    }
    
    .navigation-liste li{
        list-style: none;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

}
