@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Tangerine&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: -0.5px;
}

.navigation{
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: -16px;
}

.navigation-liste{
  display: flex;
  justify-content: center;
  background-color: rgb(39, 34, 34);
  height: 4rem;
}


.navigation-liste li{
  list-style: none;
  margin-top: 1.2rem;
  font-size: 1.5rem;
}

.navigation-liste a{
  text-decoration: none;
  text-align: right;
  color: white;
  font-family: 'Amatic SC', cursive;
  padding: 0 1rem 0 1rem
}

.navigation-liste a:hover{
  color: rgb(255, 73, 173);
}

#hier{
  color: rgb(255, 154, 210)
}
.game-titel{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 3rem;
  margin: -50px 0 0 0;
}

.content-game {
  margin-top: 10%;
  min-height: 600px;
  font-size: 1.5rem;
}

#game {
  position: relative;
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
}


#dino {
  height: 75px;
  width: 75px;
  top: 220px;
  position: relative;
  background-image: url(../Bilder/chad-75.png);
  background-size: cover;
}

.dino-dies {
  background-image: url(../Bilder/chad-75-red.png)!important;
}

#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url(../Bilder/salad.png);
  background-size: cover;
}

.rock-animation {
  animation: rock 1.33s infinite;
}

@keyframes rock {
  0% {
    left: 550px;
  }

  100% {
    left: -50px;
  }
}

.jump-animation {
  animation: jump 0.5s;
}

@keyframes jump {
  0% {
    top: 225px;
  }

  50% {
    top: 75px;
  }

  75% {
    top: 75px;
  }

  100% {
    top: 225px;
  }
}



#background {
  position: absolute;
  width: 600px;
  height: 300px;
  background-image: url(../Bilder/store.png);
  background-size: cover;
}

.bg-animation {
  animation: moveBg 10.33s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -600px 0;
  }
}

.gameRow {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}


.gameOver {
  display: none;
}

.startScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.7;
  background: black
}

.startScreenText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  color: white;


}

#goodie {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 550px;
  background-image: url(../Bilder/choc.png);
  background-size: cover;
}

.goodie-animation {
  animation: goodie1 3.33s infinite;
}

@keyframes goodie1 {
  0% {
    left: 550px;
  }

  100% {
    left: -50px;
  }
}

@keyframes goodie2 {
  0% {
    left: 550px;
    top: 100px;
  }

  100% {
    left: -50px;
    top: 20px;
  }
}

@keyframes goodie3 {
  0% {
    left: 550px;
    top: 100px;
  }

  100% {
    left: -50px;
    top: 0px;
  }
}

/*Styling des Footers*/
.footerinhalt{
  color: white;
  background-color: rgb(39, 34, 34);
  height: 180px;
  display: flex;
  flex-direction: row;
  margin-top: -750px;
  padding-right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-adresse{
  padding: 2.4rem 0 0 4rem;
}

.footerinhalt li{
  list-style: none;
}

.pfeil-nach-oben{
  padding-left: 80%;
}

.pfeil-nach-oben-bild{
  padding-top: 4.8rem;
  width: 35px;
  height: 35px;
}

